@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #FFFFFF;
    --background: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
